<!--
 * @Author: your name
 * @Date: 2020-09-13 20:07:53
 * @LastEditTime: 2020-09-13 21:32:49
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /yii-node/views/books/list.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <ul>
    {% for item in data -%}
    <li>[[item.id]] - [[item.name]]</li>
    {%- endfor %}
  </ul>
</body>

</html>